---
layout: layouts/base.njk
title: contact
permalink: /contact/
site:
name: Fabio Gampl
---

        <section class="intro" id="top">
            <p class="discription">Fabio Gampl<br>Goßlerweg 1<br>55122 Mainz<br></p>
            <a class="discription" href="mailto:fabio@gampl.de">Email</a><br>
            <a class="discription" href="https://www.instagram.com/fabio_gampl/">Instagram</a>
        </section>