---
layout: layouts/base.njk
title: Contact
permalink: /contact/
description: Get in touch with Fabio Gampl — visual designer based in Mainz, Germany.
---

        <section class="intro" id="top">
            <p class="discription">Fabio Gampl<br>Goßlerweg 1<br>55122 Mainz<br></p>
            <a class="discription" href="mailto:fabio@gampl.de">Email</a><br>
            <a class="discription" href="https://www.instagram.com/fabio_gampl/">Instagram</a><br>
            <a class="discription" href="https://x.com/fabio_gampl/">X</a>
        </section>