---
layout: layouts/base.njk
title: Impressum
permalink: /impressum/
site:
name: Fabio Gampl
---

        <section class="intro" id="top">
            <p class="impressum">
                Imprint and Privacy Policy<br>
                <br>
                Information according to § 5 DDG<br>
                <br>
                Fabio Gampl<br>
                Goßlerweg 1<br>
                55122 Mainz<br>
                Germany<br>
                <br>
                Email: fabio@gampl.de<br>
                Phone: +49 151 58324321<br>
                <br>
                Responsible for content according to § 18 Abs. 2 MStV:<br>
                Fabio Gampl<br>
                Address as above<br>
                <br>
                EU dispute resolution<br>
                The European Commission provides a platform for online dispute resolution (ODR):<br>
                https://ec.europa.eu/consumers/odr/<br>
                I am not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.<br>
                <br>
                This website does not collect personal data unless you contact me directly via email.
                This website is hosted by GitHub. When visiting the site, the server may automatically store technical information such as IP address, browser type, and access time. 
                This data is used only to ensure the proper functioning and security of the website.
                If you contact me via email, your message and contact details will be stored for the purpose of processing your request. Your data will not be shared with third parties.
                The processing of data is based on Art. 6(1)(f) GDPR (legitimate interest in providing a secure and functional website).
                You have the right to request information about your stored data, correction, deletion, or restriction of processing.
            </p>
        </section>