---
layout: layouts/base.njk
title: designconcept
permalink: /designconcept/
site:
name: Fabio Gampl
---

  <!-- FIXER HINTERGRUND: VIDEO 1 -->
  <section class="panel panel-fixed">
    <!-- Hier dein erstes Video einfügen -->
    <video class="media-fill" autoplay muted loop playsinline>
      <source src="./assets/projects/92arc/background.mp4" type="video/mp4" />
      Dein Browser unterstützt dieses Video nicht.
    </video>
  </section>

  <main class="page-content">
    <!-- STICKY PANEL: VIDEO / GIF 2 -->
    <section class="panel panel-sticky-offset">
    </section>
          <div class="panel panel-sticky">

        <!-- Für GIF einfach src austauschen -->
        <img class="media-fill" src="./assets/projects/92arc/texture.gif" alt="GIF Platzhalter" />
      </div>

    <!-- NORMALE SCROLL-CONTAINER MIT ZENTRALER QUADRAT-FLÄCHE -->
    <section class="content-panel">
      <div class="square-frame">
        <img src="./assets/projects/92arc/92ArcCover01.jpg" alt="Bild Platzhalter 1" />
      </div>
    </section>

    <section class="content-panel">
      <div class="square-frame">
        <img src="./assets/projects/92arc/92ArcCover02.jpg" alt="Bild Platzhalter 2" />
      </div>
    </section>

    <section class="content-panel">
      <div class="square-frame">
        <img src="./assets/projects/92arc/92ArcCover03.jpg" alt="Bild Platzhalter 3" />
      </div>
    </section>

    <section class="content-panel">
      <div class="square-frame">
        <img src="./assets/projects/92arc/92ArcCover04.jpg" alt="Bild Platzhalter 4" />
      </div>
    </section>
  </main>


  <div class="scroll-indicator"> </div>
