---
layout: layouts/base.njk
title: Studio
permalink: /studio/
site:
name: Fabio Gampl
---

        <section class="intro" id="top">
            <p class="discription">Fabio Gampl is a visual designer based in Germany, working at the intersection of branding & digital media. His work focuses on developing visual identities as systems that are structured, scalable, and built for contemporary digital contexts.</p>
        </section>
