<header class="site-header">
    <div class="header-inner">
        <a class="brand" href=" /">
  {% inlineSvg "assets/global/logo.svg", { height: "20", fill: "#7d7d7d" } %}
        
        </a>
        <nav class="nav" aria-label="Primary navigation">
            <a href="/work/">WORK</a>
            <a href="/studio/">STUDIO</a>
        </nav>
    </div>
</header>